*{
   background-color: rgb(236, 232, 228);
   

}
.div1{
 
    direction: rtl;
    background-color:white;
    display:grid;
    grid-template-columns:200px 1200px 200px 200px;
    height:100px;
    
    

}
.img1{
    background-color:white;
    width:160px;
    height:100px;
}
.img2{
    background-color:white;
    margin-top:25px;
    width:40px;
    height:50px
}
.input1{
    border-style: none;
    border-color:rgb(245, 18, 18);
    border-bottom: 10px;
    border-radius: 20px;
    margin-top: 30px;
    width:500px;
    height:40px;
}
.button1{
    font-size:bold;
    font-size:15px;
    margin-top: 35px;
    border-style: none;
    border-color:rgb(245, 18, 18);
    border-bottom: 10px;
    border-radius: 20px;
    width:200px;
    height:30px;
}
.img3{
    width:20px;
    height:20px

}
.img5{

}
.img6{
    width:1700px;
    height:80px;
}
.img7{
   
    border-radius: 20px;
    width:1000px;
    height:60px;
}
.div30{
    margin-left: 300px;

}
.icon{
    width:10px;
    height:10px;
}
/* Navbar container */
.navbar {
 
    margin-left:900px;
    float: left;
    overflow: hidden;
    background-color: rgb(83, 81, 81);
    font-family: Arial;
 
    
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
   
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(107, 100, 100);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display:none ;
    position: absolute;
    background-color: #5c5858;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(233, 87, 87);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(90, 85, 85);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .div40{
      display:grid;
      grid-template-columns: 750px 750px;
  }
  .div41{
      margin-top: 30px;
      margin-left: 10px;
      

  }
  .div44{
    margin-left: 10px;
    margin-top: 30px;

  }
  .div46{
    margin-left: 230px;
    margin-top: 20px;

  }
  .div45{
    margin-left: 90px;
    margin-top: 30px;

  }
  .img5{
      border:solid 10px rgb(236, 232, 228);
      border-radius: 40px;
      width:500px;
      height:300px;
  }
  .pic1{
      border:solid 2px rgb(236, 232, 228);
      border-radius: 40px;
      width:500px;
      height:300px;
  } 
  .div48{
      border-radius: 40px;
      height:200px;
      background-color:rgb(252, 58, 58);
  }

.div50{
    display:grid;
    grid-template-columns: 750px 750px;
}
.div51{
    margin-top: 30px;
    margin-left: 10px;
    

}
.div54{
  margin-left: 10px;
  margin-top: 30px;

}
.div56{
  margin-left: 230px;
  margin-top: 20px;

}
.div55{
  margin-left: 90px;
  margin-top: 30px;

}
.img5{
    border:solid 10px rgb(236, 232, 228);
    border-radius: 40px;
    width:500px;
    height:300px;
}
.pic1{
    border:solid 2px rgb(236, 232, 228);
    border-radius: 40px;
    width:500px;
    height:300px;
}
.div60{
    margin-top: 20px;
    height:900px;
    
    background-color:rgb(218, 35, 35);
    border-radius: 40px;
    display:grid;
    grid-template-columns:200px 200px 200px 200px;

}
.div70{
  margin-top: 20px;
  height:500px;
  background-color: rgb(230, 45, 45);
  border-radius: 40px;
  display:grid;
  grid-template-columns:550px 450px 550px ;
  
}
.div61{
  border-radius: 40px;
  margin-top:100px;
  margin-left:50px;
  background-color:white;
  width:200px;
  height:300px;

}
.div63{
  margin-left:20px;
  border-radius: 40px;
  margin-top:100px;
  background-color:white;
  width:200px;
  height:300px;

}
.div65{
  margin-left:100px;
  border-radius: 40px;
  margin-top:100px;
  background-color:white;
  width:200px;
  height:300px;

}
.img10{
  border-radius: 40px;
  background-color:white;
  padding:10px;

}
.img11{
  border-radius: 40px;
  background-color:white;
  padding:10px;

}
.img12{
  border-radius: 40px;
  background-color:white;
  padding:10px;

}
.div80{
  display:grid;
  grid-template-columns:200px 700px;

}
.div81{
  margin-left:700px;

}
.img31{
  margin-top: 30px;
  border-radius: 40px;
  width:600px;
  height:250px;

}
.img32{
  margin-top: 30px;
  border-radius: 40px;
  width:600px;
  height:250px;

}
.div84{
  margin-left:200px;

}
.div90{
  margin-top: 20px;
  height:450px;
  background-color: rgb(19, 212, 52);
  border-radius: 40px;
  display:grid;
  grid-template-columns:500px 400px 400px 300px ;
}
.div91{
  margin-top:30px;
  background-color: rgb(19, 212, 52);
  margin-left:100px;

}
.div93{
  margin-top:30px;
  background-color: rgb(19, 212, 52);
  margin-left:00px;
  

}
.div95{
  margin-top:30px;
  background-color: rgb(19, 212, 52);
  margin-left:00px;

}
.div96{
  margin-top:30px;
  background-color: rgb(19, 212, 52);
  margin-left:00px;

}
.img50{
  border:solid 10px white;
  border-radius: 40px;
  width:350px;
  height:350px;

}
.img60{
  border:solid 10px white;
  border-radius: 40px;
  width:350px;
  height:350px;

}
.img70{
  border:solid 10px white;
  border-radius: 40px;
  width:350px;
  height:350px;

}
.img71{
  background-color: rgb(19, 212, 52);
  margin-top:30px;
  width:200px;
  height:350px;

}
.img103{
  border-radius: 40px;
}
.div100{
  margin-top:30px;
}
.div110{
  border-radius: 40px;
  height:600px;
  display:grid;
  grid-template-columns: 400px 400px 400px 300px;
  background-color:white;
  margin-top:30px;

}
.div111{
  margin-top:150px;
  background-color:white;

}
.div113{
  margin-top:150px;
  background-color:white;

}
.div115{
  margin-top:150px;
  background-color:white;

}
.div116{
  margin-top:150px;
  background-color:white;

}
.div130{
  background-color:rgb(124, 128, 128);
  height:350px;
}

.div131{
  height:350px;
  background-color:rgb(185, 184, 184);
  direction:rtl;
  margin-left:700px;
}
pre{
  background-color:rgb(185, 184, 184);
  font-size:20px;
  font-family:Georgia, 'Times New Roman', Times, serif;

}
.p1{
  background-color:rgb(185, 184, 184);

}